{% extends 'base_dashboard_admin3.html.twig' %}

{% block title %}Carga de Registros
{% endblock %}
{% block javascripts %}
	<script src="/assets/js/validacion_carga_registro.js"></script>
{% endblock %}
{% block body %}
	<div class="container">
		<form method="post">
			<div class="card">
				<div class="card-header">
					<h3>Cargar de Registros</h3>
				</div>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-md-4 col-lg-4">
						<div class='input-group'>
							<label class='input-group-text' for="ente">Organismo Acreditador</label>
							<input type="text" class="form-control" name="ente" id='ente' value='{{ ente.nombre }}' disabled>
						</div>
					</div>
					<div class="col-12 col-md-4 col-lg-4">
						<div class='input-group'>
							<label class='input-group-text'>Categoria</label>
							<select id='categoria' name='categoria' class="form-control">
								<option value="-99">Todos</option>
								{% if categorias|length > 0 %}
									{% for categoria in categorias %}
										<option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
									{% endfor %}
								{% endif %}
							</select>
						</div>
					</div>
					<div class="col-12 col-md-4 col-lg-4  text-right">
						<input type="button" class='btn boton02' value='Filtrar' onclick='javascript:filtrar()'>
						<input type='reset' class="btn btn-secondary" value='Limpiar'>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
