{% extends 'base_dashboard_admin2.html.twig' %}

{% block title %}New Registro
{% endblock %}

{% block body %}
	<div class="container">
		<form method="post">
			<div class="card">
				<div class="card-header">
					<h3>Cargar Indicadores</h3>
				</div>
			</div>
			<div class="card-body">
				<div class="form-group">
					<label for="">Organismo Acreditador</label>
					<input type="text" class="form-control" name="ente" id='ente' value='{{ ente.nombre }}' disabled>
				</div>
			</div>
		</form>
	</div>
{% endblock %}
